table{
    background-color: white;
    text-align: left;
    width: 100%;
}

th, td{
    border: solid 1px black;
}

thead{
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}